*{
    font-family: Comic Sans MS;
}
button{
    cursor: pointer;
}
#summer{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#43cea2, #185a9d);
    color: white;
}

#spring{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#fdfc47, #24fe41);
    color: white;
}
#autumn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#dad299, #b0dab9);
    color: white;
}
#winter{
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#e6dada, #274046);
    color: white;
}
#buttons{
    display: flex;
    width: 100%;    
}
#weather{
    width: 50%;
    display: flex;
    padding-left: 6 0px;
    margin-bottom: 40px;
}
#weather button{
    margin-right: 20px;
}
#control{
    width: 50%;
    display: flex;
    padding-left: 60%;
}
#control button{
    margin-right: 20px;
}
#state{
    position: absolute;
    top: 30%;
    left: 70%;
    font-size: 30px;
}
#gameName{
    margin-left: 42%;
    letter-spacing: 10px;
    background: linear-gradient(to right,red, blue,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}